@{
    ViewBag.Title = "各高速公路各收费站出口小时交通量";
    Layout = null;
}


<link href="~/Content/CSS/index/sjbs-report.css" rel="stylesheet" />
<script src="~/Scripts/My97DatePicker/WdatePicker.js"></script>
<script src="~/Scripts/report/RoadStaExHour.js"></script>
<style>
    .ui-widget-content .ui-state-default {
        background: #f8fafc;
    }
</style>
<input type="hidden" value="14" id="ReportType" />
<div id="big" class="big">
    <div class="gridName">
        <span class="spread"></span>
        <span>北京交通委：各高速公路各收费站出口小时交通量</span>
    </div>
    <div class="search-area">
        <form action="" method="post" id="queryForm1">
            <table class="queryTable">
                <tr>
                    <th width="60">数据日期：</th>
                    <td width="150">
                        <input id="holidayEnd" type="hidden" value='@ViewBag.HolidayEndTime' />
                        <input id="holidayStart" type="hidden" value='@ViewBag.HolidayStartTime' />

                        <input name="" type="text" class="input Wdate" id="StartTime" value='@ViewBag.HolidayStartTime' onclick="WdatePicker({ dateFmt: 'yyyy年M月d日', maxDate: '@ViewBag.HolidayEndTime', minDate: '@ViewBag.HolidayStartTime' })">
                        <input name="" type="text" class="input Wdate" id="StartTime1" value=""  onclick="WdatePicker({ dateFmt: 'yyyy年M月d日', maxDate: '%y-%M-%d' })" style="display:none;">
                    </td>
                    <td><input name="Input" type="button" value="查&nbsp;&nbsp;&nbsp;询" class="queryBtn1" id="query"></td>
                </tr>
            </table>
        </form>
    </div>
    <div id="creatReport" class="creatReport">
        <div id="operate_btn" class="operate_btn">
            <div class="queryBtn" id="export">
                <span class="query_icon expIcon"></span>
                <span class="query_txt">导出</span>
            </div>
        </div>
        <div class="report_title" style="text-align:center;color:#555;font-size:14px;">
            各高速公路各收费站出口小时交通量
            <span id="noDataList" style="float:right;color:red;cursor:pointer;margin-right:15px; display:none;">无数据收费站列表</span>
        </div>
        <div class="report_title">
            <div style="margin-left:20px;margin-right:0;">
                <div style="float:right;margin-right:15px;">填报日期：<span id="date"></span></div>
            </div>
        </div>
        <div class="tableDiv">
            <table id="report14"></table>
        </div>
    </div>
 </div>
